/* Colors */

@define-color menu_bg_color #cccccc;
@define-color menu_fg_color #333333;

/* Calendar look */
.menuitem GtkCalendar,
.menuitem GtkCalendar.button,
.menuitem GtkCalendar.header,
.menuitem GtkCalendar.view {
	border-color: shade(@menu_bg_color,0.8);
	border-image: none;
	background-color: @menu_bg_color;
	background-image: none;
	color: @menu_fg_color;
}

.menuitem GtkCalendar:indeterminate {
	color: mix(@menu_fg_color,@menu_bg_color,0.5);
}
